<div class="row post">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <a class="nav-link link-usuario" href="#">{{ post.nomePessoa }}</a>
        <i class="fa fa-times delete-icon" (click)="postService.excluir(post.id)"></i>
      </div>
      <div class="card-body">
        <h4 class="card-text">{{ post.texto }}</h4>
        <hr>
        <div class="likes">
          <p class="text-primary likes">{{ post.qtdLikes }} likes |</p>
          <i class="fa fa-thumbs-up font-weight-bold like-icon" 
          title="Like" 
          (click)="postService.adicionarLike(post)"></i>
        </div>
      </div>
    </div>
  </div>
</div>